<style>
    body {
        font-family: "Comic Sans MS";
    }

    * {
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
        font-weight: bold;
    }

    .pt1 {
        float: right;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: lightblue;
    }

    .pt2 {
        float: right;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: lightyellow;
    }

    .pt3 {
        float: right;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: lightgreen;
    }

    .content1 {
        float: left;
        padding: 25px;
    }

    .content2 {
        float: left;
        padding: 25px;
    }

    .content3 {
        float: left;
        padding: 25px;
    }

    .section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .test {
        width: 100%;
        background-color: lightgrey;
        border: 1px solid black;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    /*desktop view*/
    @media (min-width: 992px) {
        .test {
            width: calc(33.33% - 20px);
            margin-right: 20px;
        }
    }

    /*tablet view*/
    @media (min-width: 768px) and (max-width: 991px) {
        .test {
            width: calc(50% - 40px);
            margin-right: 20px;
            margin-left: 20px;
        }

        .test:nth-child(3) {
            width: 100%;
            margin-right: 20px;
            margin-left: 20px;
        }
    }

</style>
